.cart {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.cart__list{
  height: 500px;
  overflow: auto;
}
.cart-heading {
  background-color: #e8e8e8;
  color: var(--color-rojo-primario);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.cart-heading__close {
  background-color: var(--color-rojo-primario);
  color: #fff;
  border-radius: 50%;
  text-align: center;
  height: 30px;
  width: 30px;
  padding: 5px;
}

.cart-heading__text-alert {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}

.cart-heading__text-alert img {
  height: 22px;
}

.cart__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: auto;
  height: 700px;
  justify-content: center;
  gap: 20px;
}

.cart__content-empty {
  font-size: 18px;
  font-family: "Oswald", sans-serif;
  color: #ccc;
}

.cart__content-add {
  font-size: 18px;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

.cart__buttons {
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px 20px;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  width: 100%;
  gap: 10px;
}

.cart__button {
  padding: 12px 30px;
  border-radius: 30px;
  display: block;
}

.cart__button--pay {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #808080;
  border: 2px solid #808080;
  color: #fff;
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  font-size: 13px;
}

.cart-button--available{
  background-color: var(--color-rojo-primario);
  border: none;
}

.cart__button-count {
  background-color: #fff;
  color: black;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  
}

.cart__button--shop {
  border: 2px solid var(--color-rojo-primario);
  color: var(--color-rojo-primario);
  text-transform: uppercase;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  background-color: #fff;
}

.cart-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 15px;
  padding: 10px 0;
  border-top: 2px solid #ccc;
}
.cart-item__content{
  display: flex;
  align-items: center;
  flex: 1;
}
.cart-item__info{
  display: inline-block;
  padding-left: 9px;
  vertical-align: middle;
}
.cart-item__price{
  font-size: 18px;
  font-weight: bold;
  display: block;
  padding: 5px 0;
}
.cart-item__image{
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 10px;
}
.cart-item__nombre{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}
.cart-item__actions{
  display: flex;
  align-items: center;
  gap: 10px;
}
.cart-item__actions span{
  font-size: 12px;
  font-weight: bold;
}
.cart-item__button{
  width: 25px;
  height: 25px;
  margin: auto 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.1;
  border: 1px solid #ccc;
  border-radius: 9px;
  outline: 0;
  background-color: #fff;
  cursor: pointer;
}
.cart__title{
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 15px 0 0 0;
}
.cart__subtitle{
  font-size: 16px;
  text-align: center;
  padding: 10px 20px;
  max-width: 400px;
  margin: 0 auto;
}
.cart__subtitle strong{
  color: var(--color-base);
  cursor: pointer;
}
.total__content{
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 15px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;

}
.total__subtotal{
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
}
.total__delivery{
  display: flex;
  justify-content: space-between;
}
.total__pagar{
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
  padding: 0 30px;
  font-size: 18px;
  font-weight: bold;
}
@media ( min-width: 1024px) {
  .cart-item__nombre{
    font-size: 16px;
  }
}