.tabs {
  display: grid;
  place-items: center;
  font-family: sans-serif;
  background-color: #fff;
}

.fixed{
  position: fixed;
  transition: .3s ease-in-out;
  z-index: 11;
}

.tabs__grid {
  display: flex;
  justify-content: flex-start;
  overflow-x: auto;
  width: 100%;
  white-space: nowrap;
  gap: 10px;
  list-style: none;
  padding: 20px 0;
}


.tabs__grid li {
  border: 2px solid #e2e2e2;
  text-decoration: none;
  line-height: 1;
  border-radius: 22px;
  background: #f6f7f8;
  color: #0a0a0a;
  font-size: 14px;
  font-family: din1451, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 25px 6px;
}

.tabs__grid li a {
  text-decoration: none;
  color: #0a0a0a;
}

.tabs__grid li.active-tab {
  background-color: var(--color-secundario);
  color: var(--color-base);
  border: none;
}



@media (min-width: 1024px) {
  .tabs__grid {
    justify-content: center;
    gap: 10px;
    white-space: initial;
  }
  .tabs__grid li {
    padding: 11px 49px 9px;
    border-radius: 25px;
  }
  .fixed{
    position: initial;
    transition: .3s ease-in-out;
    z-index: 1;
  }
}