
.producto{
    position: relative;
}
.producto__breadcumbs span{
    display: flex;
    padding: 25px 0;
}
.details__imagen-contenedor{
    width: 100%;
    border-radius: 12px;
    margin: 0;
    position: absolute;
    top: 0;
}

.details__imagen-contenedor img{
    border-radius: 12px;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.details__title{
    font-size: 32px;
    color: var(--color-primario);
    text-align: center;
}
.details__description{
    font-size: 18px;
    padding: 20px 0;
    text-wrap: balance;
}
.details{
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 90vh;
    position: absolute;
    width: 100%;
}
.details__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-radius: 15px 15px 0 0;
    padding: 20px 30px ;
    z-index: 2;
    background-color: #fff;
    height: 550px;
} 

.details__button--add{
    background-color: var(--color-primario);
    color: #fff;
    border-radius: 30px;
    font-size: 20px;
    padding: 10px 40px;
    display: flex;
    gap: 10px;
    text-transform: uppercase;
    font-weight: 500;
}
.details__addCart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px ;
    padding: 10px 0;
}
.details__count{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    padding: 10px 0;
}

.details__count button{
    font-size: 18px;
}

@media ( min-width: 1024px ) {
   .details{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 100%;
   }
   .details__imagen-contenedor {
        position: relative;
    }
    .details__content {
        width: 100%;
        padding: 20px 30px;
        background-color: #fff;
    }
    .producto{
        margin: 0 auto;
        width: 1200px;
        max-width: 98%;
        padding-top: 220px;
    }
    
    .details__content{
        justify-content: flex-start;
    }
}