.social__box {
  display: none;
}

.social__box-content {
  border-radius: 10px;
  border: 1px solid #23388b;
  width: 100%;
  background: #fff;
  display: flex;
}
.content__left {
  background-color: #ffb500;
  width: 100%;
  max-width: 350px;
  padding: 40px;
  width: 30%;
}
.content__left h2 {
  font-size: 41px;
  text-transform: uppercase;
  line-height: 1;
  color: #23388b;
}
.content__left span {
  display: block;
}
.content__share-text {
  padding: 10px 0;
  font-size: 16px;
}

.content__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content__button {
  border-radius: 3px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-right: 20px;
  text-transform: uppercase;
  padding: 10px 25px;
  width: 140px;
}
.content__button--facebook {
  background-color: #4563a6;
}
.content__button--twitter {
  background-color: #03a6ef;
}
.content__right {
  position: relative;
  padding: 25px 75px;
}
.content__right img {
  position: absolute;
  top: 40px;
  left: 485px;
}
@media (min-width: 1024px) {
  .social__box {
    display: block;
    width: 100%;
    padding: 50px 13px;
    background: transparent;
  }
}

/*Social Box*/