header {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    z-index: 10;
    width: 100%;
}

.header__horarios {
    background-color: #000000;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 10px 0;
    height: 70px;
}

.header__horarios  p {
    font-size: 12px;
    text-align: center;
    text-wrap: balance;
    line-height: 1.3;
}
.line{
    width: 1px;
    height: 34px;
    background-color: #fff;
}

.header__banner__color {
    display: none;
    background-color: var(--color-primario);
}
@media ( min-width: 1024px ){
    .header__banner__color{
        display: block;
    }
}
.header__banner {
    display: flex;
    justify-content: space-between;
}

.header__banner__logo a img {
    width: 150px;
}

.header__banner__sub {
    display: flex;
    padding: 15px;
    
}

.header__banner__sub__delivery {
    color: white;
    margin-left: 20px;
    font-size: 16px;
}

.header__banner__sub__delivery img {
    filter: invert(1);
    height: 16px;
}

.header__banner__sub__delivery span {
    color: var(--color-secundario);
}

.header__banner__sub__login {
    border: none;
    background-color: transparent;
    color: white;
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
}

.header__banner__sub__login img {
    height: 35px;
    filter: invert(1);
}

.header__navbar{
    background-color: #fff;
}

.header__navbar__list{
    display: none;
    align-items: center;
    padding: 0 74px 0 0;
    justify-content: space-between;
    flex: 1;
}
@media ( min-width: 1024px  ) {
    .header__navbar__list{
        display: flex;
    }
}
.header__navbar__nav {
    width: 100%;
}

.header__navbar__nav__ul {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    color: var(--color-base);
    align-items: center;
}

.header__navbar__nav__ul__item a {
    text-decoration: none;
    transition: all .3s, color .3s;
    font-size: 20px;
    color: var(--color-primario);
}

.header__navbar__nav__ul__item a:hover {
    border-bottom: 1px solid var(--color-rojo-primario);
}
.header__navbar__nav__ul__item .is-active{
    border-bottom: 1px solid var(--color-rojo-primario);
}
.header__navbar__actions__button {
    width: 65%
}
.header__navbar__nav__ul__order {
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
    background-color: var(--color-secundario);
    border-radius: 25px;
    padding: 7px 20px;
    width: 100%;
    min-width: 100%;
    outline: 0;
    color: #373d42;
}
@media ( min-width: 1024px  ) {
    .header__navbar__nav__ul__order{
        display: flex;
    }
}
.header__navbar__nav__ul__order img{
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
}
.header__navbar__text{
    color: var(--color-primario);
    font-size: 12px;
    font-weight: 100;
    width: 122.75px;
}

.header__navbar__text strong{
    color: var(--color-rojo-primario);
    text-transform: uppercase;
}

.header__navbar__actions{
    padding: 12px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__navbar__nav__ul__cart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    height: 100%;
    border: none;
    background-color: var(--color-secundario);
    border-radius: 25px;
    outline: 0;
    padding: 0 20px;
    height: 45px;
}
.header__navbar__nav__ul__cart img {
    width: 50px;
}
.header__navbar__nav__ul__cart .cart__number{
    position: absolute;
    text-align: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #FF0000;
    color: #fff;
    font-size: 10px;
    line-height: 18px;
    top: 0;
    right: 10px;
}
.header____logo img{
    display: block;
    width: 100px;
}
.drawer{
    position: fixed;
    width: 100%;
    z-index: 10;
    bottom: 0;
    background-color: #fff;
    padding: 10px 0;
    transition: all .3s ease;
}
.drawer__buton{
    display: flex;
    justify-content: center;
    align-items: center;
}
.drawer__buton button{
    padding: 10px 150px;
    background-color: var(--color-primario);
    color: #fff;
    border-radius: 50px;
    font-size: 24px;
}
@media ( min-width: 1024px  ) {
    .header____logo img{
        display: none;
    }
    .header__navbar__nav__ul__cart img {
        width: 32px;
        width: 32px;
    }
    .header__horarios  p {
        font-size: 16px;
    }
}

