*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-primario: #011689;
}
html{
    font-size: 62.5%;
}

body{
    font-family: 'Oswald', sans-serif;
}

img{
    max-width: 100%;
    height: auto;
}
.container{
    margin: 0 auto;
    width: 1200px;
    max-width: 98%;
}

button{
    cursor: pointer;
    border: none;
}