summary {
    list-style: none;
}

.accordion-container {
    max-width: 800px;
    padding: 50px 0;
    margin-left: auto;
    margin-right: auto;
}

.accordion-container__section__title {
    border-bottom: 1px solid #707070;
    color: var(--color-base);
    font-size: 22px;
    padding: 5px 0;
    cursor: pointer;
}

.accordion-container__section__img {
    padding: 28px 0;
}

.accordion-container__section img {
    width: 100%;
}

.accordion-container__section__text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    font-size: 20px;
    padding-bottom: 40px;
}

.accordion-container__section__text p {
    margin-top: 10px;
}